
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#box{
    position: relative;
    width: 500px;
    height: 200px;
    margin: 200px;
}
#box_left{
    width: 100px;
    height: 200px;
    background: #cccbc8;
    position: absolute;
    left: 0;top: 0;
}
#box_left li{}
#box_left li a{
    font-size: 35px;
}
#box_right{
    width: 400px;
    height: 200px;
    background: #51c7cc;
    position: absolute;
    left: 100px;top: 0;
}

.box_right_one{
    margin: 30px 0  0  20px;
}
.box_right_one li{

    line-height: 30px;
}
.box_right_item{
    margin-left: 20px;
}
.box_right_item li{
    line-height: 30px;
    display: none;
}
























